<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8097110752337784"
  crossorigin="anonymous"></script>
  <title>{{course.name}} Quiz</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/J.jpg' %}" rel="icon">
  <link href="{% static 'assets/img/J.jpg' %}" rel="apple-touch-icon">
  <link rel="stylesheet" href="{% static 'assets/css/quiz.css' %}">
  <!-- FontAweome CDN Link for Icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: eNno - v4.7.0
  * Template URL: https://bootstrapmade.com/enno-free-simple-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style type="text/css" media="screen">
  .btn-floating{
    border-radius: 45px;
  }
      #editor {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
      }
      .h{
  padding-left:30px;
  padding-right:60px;
}
      #customeditor{
        width: 100%;
        height: 50vh;
        display: inline-block;
        position: relative;
        border-radius: 5px;
      }
      pre{
          display: block;
          padding: 9.5px;
          margin: 0 0 10px;
          font-size: 15px;
          line-height: 1.42857143;
          color: #333;
          word-break: break-all;
          word-wrap: break-word;
          background-color: #f5f5f5;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        ::-webkit-scrollbar {
          width: 5px;
        }
        /* Track */
        ::-webkit-scrollbar-track {
          background: #f1f1f1; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: rgb(202, 202, 202); 
        }
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: rgb(141, 141, 141); 
        }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.js"></script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'home' %}"><img src="{% static 'assets\img\J.jpg' %}">obsKaAdda</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'home' %}">Home</a></li>

          <li><a class="nav-link scrollto " href="{% url 'jobNotifications' %}">Job Notifications</a></li>
          <li><a class="nav-link scrollto" href="{% url 'prev_coding_problems' %}">Previous coding problems</a></li>

          <li class="dropdown"><a href="#"><span>Take A Quiz?</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="c-programming">C Programming</a></li>
              <li><a href="cpp-programming">CPP Programming</a></li>
              <li><a href="python-programming">Python Programming</a></li>
              <li><a href="Java-programming">Java Programming</a></li>
              <li><a href="dataStructures">DataStructures </a></li>

            </ul>
          </li>
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <div class="continer-fluid" style="min-height: 100vh;width: 100%;">
  <div class="start_btn"><button>Start Quiz</button></div>

  <!-- Info Box -->
  <div class="info_box">
      <div class="info-title"><span>Some Rules of this Quiz</span></div>
      <div class="info-list">
          <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
          <div class="info">2. Once you select your answer, it can't be undone.</div>
          <div class="info">3. You can't select any option once time goes off.</div>
          <div class="info">4. You can't exit from the Quiz while you're playing.</div>
          <div class="info">5. You'll get points on the basis of your correct answers.</div>
      </div>
      <div class="buttons">
          <button class="quit">Exit Quiz</button>
          <button class="restart">Continue</button>
      </div>
  </div>

  <!-- Quiz Box -->
  <div class="quiz_box">
      <header>
          <div class="title">{{course.name}}</div>
          <div class="timer">
              <div class="time_left_txt">Time Left</div>
              <div class="timer_sec">15</div>
          </div>
          <div class="time_line"></div>
      </header>
      <div class="section">
          <div class="que_text">
              <!-- Here I've inserted question from JavaScript -->
          </div>
          <div class="option_list">
              <!-- Here I've inserted options from JavaScript -->
          </div>
        </div>

      <!-- footer of Quiz Box -->
      <div class="quiz_box_footer">
          <div class="total_que">
              <!-- Here I've inserted Question Count Number from JavaScript -->
          </div>
          <button class="next_btn">Next Que</button>
        </div>
  </div>

  <!-- Result Box -->
  <div class="result_box">
      <div class="icon">
          <i class="fas fa-crown"></i>
      </div>
      <div class="complete_text">You've completed the Quiz!</div>
      <div class="score_text">
          <!-- Here I've inserted Score Result from JavaScript -->
      </div>
      <div class="buttons">
          <button class="restart">Replay Quiz</button>
          <button class="quit">Quit Quiz</button>
      </div>
  </div>
  </div>
  
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>JobsKaAdda</h3>
            <p>Here you can find all the stuff you are needed to crack a placement in top companies.</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">

          </div>
        </div>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://t.me/codingandjobs" class="google-plus"><i class="bx bxl-telegram"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>JobsKaAdda</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/enno-free-simple-bootstrap-template/ -->
        Developed by Satish dodda,Satish Adabala</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script>
    var quiz = JSON.parse("{{quiz|escapejs}}");
    var questions = [];
    for(var i=0;i<quiz.length;i++){
      questions.push({
        numb:i+1,
        question: quiz[i].description,
    answer: quiz[i].correct_choice,
    options: [
      quiz[i].choice1,
      quiz[i].choice2,
      quiz[i].choice3,
      quiz[i].choice4
    ]
      });
    }
  </script>
  <!-- Inside this JavaScript file I've coded all Quiz Codes -->
  <script src="{% static 'assets/js/script.js' %}"></script>

</body>


</html>
